Package: usb-time-card
Version: 0.4.3
Section: system
Priority: optional
Architecture: amd64
Depends: coreutils, libudev0, libconfig9
Suggests: apache2 | nginx | cherokee | lighttpd
Installed-Size: 88
Maintainer: Miro Hrončok <miro@hroncok.cz>
Description: This software monitors presence of a particular USB disk device (such as USB Flash Drive). It outputs the results to several formats, currently plaintext and HTML. Runs as a deamon.
